.xd{
    padding: 3%;
}
.xdnt{
    padding: 10%
}
.timg{
    max-width: 480px;
    max-height: 320px;
}
.bizq{
    border-left: 1px solid black;
}
.go{
    
    margin-bottom: 10px;
    color: rgb(74, 74, 74)
}
.mgn{
    margin-top: 10%;
}